body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
   text-decoration: none;
   color: #333;
}

ul {
   list-style-type: none;
   
   margin: 0;
}

.hero-text {
   text-align: center;
   padding: 100px 0;
   background-color: #f0f0f0;
   color: #333;
}

.hero-text h2 {
   font-size: 3rem;
   margin-bottom: 20px;
}

.hero-text p {
   font-size: 1.5rem;
}

mark {
   background: black;
   color: white;
   padding: 1;
}

main {
   flex: 1;
}

header{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
}

nav ul li a {
   text-decoration: none;
   color: #333;
   padding: 10px 15px;
   border-radius: 5px;
   transition: background-color 0.3s;
}

nav ul li a:hover {
   background-color: #f0f0f0;
}


/* Added style for course layout */
#courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f0f0f0;
  color: #333;
}


.course {
  margin: 20px;
  text-align: center;
  flex-basis: calc(33.33% - 40px);
}

.course img {
   max-width: 100%;
   height: auto;
   border-radius: 5px;
} 


.syllabus ul {
  padding: 0;
  margin: 0;
}

.syllabus li {
  background color: #f0f0f0;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center; 
}

.syllabus li:last-child {
  margin-bottom: 0;
}

.syllabus li:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}


#course-details {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	background-color: #f0f0f0;
   	color: #333;
}

.syllabi {
	width: 30%;
	position: sticky;
    	top: 0;
    	height: fit-content;
}

.syllabi ul {
	list-style-type: none;
	padding: 10px 20px;
}

.syllabi li {
  background color: #f0f0f0;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	
}

.syllabi li:last-child {
  margin-bottom: 0;
}

.syllabi li:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

.syllabi .selected {
	font-weight: bold;
}

.syllabi .selected a {
	color: #333;
	text-decoration: none;
}


.content {
	width: 65%;
}

.content p {
font-size: 1.2rem;
}

pre {
            background-color: #e1bee7;
            padding: 8px;
            border-radius: 8px;
            font-family: monospace;
            color: #11031a;
            white-space: pre-wrap;
            max-width: calc(80%); /* Adjust based on your padding */
	    border-left:5px solid #666;
        }

.scroll-top-button {
bottom: 80px;
right: 80px;
background-color: #007bff;
color:#fff;
width:40px;
height:40px;
border-radius:50%;
border:none;
font-size: 24px;
cursor:pointer;
z-index:999;
}

.scroll-top-button:hover {
background-color: #0056b3;
}

.next-button {
bottom: 20px;
right: 20px;
background-color: #007bff;
color:#fff;
padding: 10px 20px;
border-radius:5px;
text-decoration:none;
font-weight:bold;
z-index:999;
}

.next-button:hover {
background-color: #0056b3;
}

footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px 0;
   bottom: 0;
   width: 100%;
}


