:root{
  --green: #00E77F;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;
}

*{
  margin:0; padding:0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  outline:none; border:none;
  text-decoration: none;
  transition: .2s linear;
}

*::selection{
  background-color: var(--white);
  color:var(--black);
}

html {
  font-size:62.5%
  overflow-x: hidden;
  scroll-behaviour: smooth;
  scroll-padding-top: 8rem;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(0, 0%, 80%);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0, 0%, 70%);
}



body{
    background-color: var(--black);
    color: gray;
    font-size: 1.6rem;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.heading{
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 4rem;
  color: var(--white);
}

.heading span{
  color: var(--green);
}


.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius:5rem;
  background-color:var(--light-bg);
  cursor:pointer;
  color:var(--white);
  font-size: 1.8rem;
  padding:1rem 3rem;
}

.btn:hover{
  background-color: var(--white);
  color: var(--black);
}


section {
  width: 100%;
  max-width:1200px;
  margin:0 auto;
  padding:1rem;
}


/* home section */
.home{
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.home .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap:1.5rem;
}

.home .row .content{
  flex:1 1 40rem;
  text-align: center;
  order: 1;
}

.home .row .image{
  flex:1 1 40rem;
  order: 2;
}

.home .row .image img{
  width: 100%;
  height: auto;
}

.home .row .content h3{
  margin-bottom: 1rem;
  font-size: 4rem;
  color: var(--green);
  line-height:1.4;
}

.home .row .content h3 span{
  color: var(--white);
  font-size: 2rem;
}




/* counter section */
.count{
  margin-bottom: 4rem;
}

.count .box-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%; 
  gap: 2rem;
}

.count .box-container .box{
  background-color: var(--light-bg);
  border-radius: .5rem;
  padding: 2rem;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  min-width: 22rem;
}

.count .box-container .box i {
  font-size: 5rem; /* Adjust icon size if needed */
  color: var(--green); /* Icon color */
}


.count .box-container .box .content h3{
  font-size: 2rem;
  color: var(--white);
  margin-bottom: .5rem;
}

.count .box-container .box .content p{
  font-size: 1.6rem;
  color: var(--light-white);
}





/* About section */
.about{
  margin-bottom: 4rem;
}

.about .row{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.about .row .image{
  flex: 1 1 40rem;
}

.about .row .image img{
  width: 100%;
}

.about .row .content{
  text-align: center;
  flex: 1 1 40rem;
}

.about .row .content h3{
  font-size: 3rem;
  color: var(--white);
}

.about .row .content p{
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.6rem;
  color: var(--light-white);
}




/* Courses section */
.courses{
  margin-bottom: 4rem;
}

.courses .swiper-wrapper {
  height: auto;
}

.courses .slide{
  background-color: var(--light-bg);
  border-radius: .5rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
  
}

.courses .slide:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.courses .slide img{
  height: 25rem;
  width: 100%;
  border-radius: 15px 50px; 
}

.courses .slide h3{
  margin: 1.5rem 0;
  font-size: 2rem;
  color: var(--white);
}

.courses .slide p{
  line-height: 2;
  font-size: 1.6rem;
  color: var(--light-white);
}

.swiper-pagination-bullet {
  background-color: var(--white);
}

.swiper-pagination-bullet-active {
  background-color: var(--green);
}

.courses-btn {
  display: flex;
  justify-content: center; 
}




/* Reviews section */
.reviews{
  margin-bottom: 4rem;
}

.reviews .swiper-wrapper {
  height: auto;
}

.reviews-slider .slide{
  border-radius: .5rem;
  background-color: var(--light-bg);
  padding: 2rem;
  margin-bottom: 4rem;
  user-select: none;
}

.reviews-slider .slide p{
  line-height: 2;
  font-size: 1.6rem;
  color: var(--light-white);
}

.reviews-slider .slide .user{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.reviews-slider .slide .user img{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-slider .slide .user h3{
  font-size: 2rem;
  color: var(--white);
  margin-bottom: .6rem;
}

.reviews-slider .slide .user .stars i{
  font-size: 1.5rem;
  color: var(--green);
}


/* Contact-us section */
.contact {
  margin-bottom: 4rem;	
}

.contact .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .image{
  flex: 1 1 40rem;
}

.contact .row .image img{
  width: 100%;
}

.contact .row form{
  flex: 1 1 40rem;
}

.contact .row form .box {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  background-color: var(--light-bg);
  font-size: 1.6rem;
  color: var(--white);
  padding:1.4rem;
}

.contact .row form span{
  font-size: 1.6rem;
  color: var(--light-white);
}

.contact .row form .radio{
  margin-bottom:1.8rem;
}

.contact .row form .radio label{
  font-size: 1.6rem;
  color: var(--light-white);
  margin-left: .5rem;
  cursor: pointer;
}

.contact .row form .radio #female{
  margin-left: 2rem;
}

.contact .row form .radio input:checked{
  background-color: var(--green);
}

.contact .row form .radio #male:checked ~ label[for="male"]{
  color: var(--green);
}


.contact .row form .radio #female:checked ~ label[for="female"]{
  color: var(--green);
}




/* footer section */
.footer{
  background-color: var(--light-bg);
  text-align: center;
}

.footer .share a{
  margin: 0 .3rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--white);
  background-color: var(--black);
}

.footer .share a:hover{
  background-color: var(--green);
}

.footer .credit{
  margin-top: 2.5rem;
  padding: 1.5rem;
  padding-top: 2.5rem;
  border-top: .1rem solid var(--light-white);
  font-size: 2rem;
  color: var(--light-white);
}

.footer .credit span{
  color: var(--green);
}





a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

ul {
   list-style-type: none;
   
   margin: 0;
}



.hero-text {
   text-align: center;
   padding: 100px 0;
   background-color: #f0f0f0;
   color: #333;
}

.hero-text h2 {
   font-size: 3rem;
   margin-bottom: 20px;
}

.hero-text p {
   font-size: 1.5rem;
}

mark {
   background: black;
   color: white;
   padding: 1;
}

main {
   flex: 1;
}


/* Added style for course layout */
/*
#courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f0f0f0;
  color: #333;
}
*/

.course {
  margin: 20px;
  text-align: center;
  flex-basis: calc(33.33% - 40px);
}

.course img {
   max-width: 100%;
   height: auto;
   border-radius: 5px;
} 


.syllabus ul {
  padding: 0;
  margin: 0;
}

.syllabus li {
  background color: #f0f0f0;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center; 
}

.syllabus li:last-child {
  margin-bottom: 0;
}

.syllabus li:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}


#course-details {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	background-color: #f0f0f0;
   	color: #333;
}

.syllabi {
	width: 30%;
	position: sticky;
    	top: 0;
    	height: fit-content;
}

.syllabi ul {
	list-style-type: none;
	padding: 10px 20px;
}

.syllabi li {
  background color: #f0f0f0;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	
}

.syllabi li:last-child {
  margin-bottom: 0;
}

.syllabi li:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

.syllabi .selected {
	font-weight: bold;
}

.syllabi .selected a {
	color: #333;
	text-decoration: none;
}


.content {
	width: 65%;
}

.content p {
font-size: 1.2rem;
}

pre {
            background-color: #e1bee7;
            padding: 8px;
            border-radius: 8px;
            font-family: monospace;
            color: #11031a;
            white-space: pre-wrap;
            max-width: calc(80%); /* Adjust based on your padding */
	    border-left:5px solid #666;
        }

.scroll-top-button {
bottom: 80px;
right: 80px;
background-color: #007bff;
color:#fff;
width:40px;
height:40px;
border-radius:50%;
border:none;
font-size: 24px;
cursor:pointer;
z-index:999;
}

.scroll-top-button:hover {
background-color: #0056b3;
}

.next-button {
bottom: 20px;
right: 20px;
background-color: #007bff;
color:#fff;
padding: 10px 20px;
border-radius:5px;
text-decoration:none;
font-weight:bold;
z-index:999;
}

.next-button:hover {
background-color: #0056b3;
}

@media (max-width:1920px){
  html{
    font-size:75%;
  }
}


@media (max-width:1180px){
  html{
    font-size:65%;
  }

  .home .row .content h3{
    font-size:3.5rem;
  }

  .count .box-container .box{
    min-width: 20rem;
  } 

}

@media (max-width:940px){
  html{
    font-size:55%;
  }

  .count .box-container .box{
    min-width: 18rem;
  } 

  .count .box-container .box .content h3{
  font-size:1.8rem;
  }
}



@media (max-width:768px){
  .home .row .content h3{
    font-size:3rem;
  }

  .count .box-container{
    gap:3rem;
  }

  .count .box-container .box{
    min-width: 40%;
  } 
}

@media (max-width:525px){
  html{
    font:size:50%;
  }

  .count .box-container .box{
    min-width: 95%;
  } 
  
  .heading{
    font-size: 3rem;
  }
}


footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px 0;
   bottom: 0;
   width: 100%;
}